
/**
 * @file
 * OpenLayers Main CSS
 *
 * This file holds the base CSS for the openlayers module
 *
 * @ingroup openlayers
 */


.openlayers-map {
  z-index: 0;
  position: relative;
}

/* Reset Image Margins */
.openlayers-map img {
  margin: 0px;
}

/**
 * Controls
 */
.openlayers-controls {
	z-index: 1000;
}

